.App {
  text-align: center;
}
button {
  padding: 1rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.4rem;
  background-color: darkseagreen;
  color: white;
}

button:hover {
  filter: brightness(110%);
}
.item {
  display: flex;
  gap: 1rem;
  padding: 2rem;
}
li {
  padding: 1rem;
  background-color: burlywood;
  border-radius: 0.4rem;
  color: white;
  font-weight: 600;
  list-style: none;
}
.list-item {
  border: 1px solid #00000015;
  width: 30rem;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0.3rem 0.3rem 0rem #00000015;
  color: #444444;
}
